@import "tailwindcss";
@plugin "@tailwindcss/container-queries";

@theme {
  --color-primary: #11d4c4;
  --color-accent-coral: #ff7f74;
  --color-background-light: #f6f8f8;
  --color-background-dark: #102220;

  --font-display: "Manrope", sans-serif;
}

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display), Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
